## Import Modules

In [242]:
import pandas as pd
import re
import string

## Convert Text File to Dataframe

In [267]:
with open('companies1.txt', 'r', encoding='utf-8') as f:
    text = f.read()

# 1. Insert newlines AFTER Pty Ltd / Pty. Ltd / Limited / Inc
pattern = r'(?i)(pty\.?\s+ltd|pty\.?\s+limited|ltd|limited|inc)\s+(?=[A-Z])'

fixed_text = re.sub(pattern, r'\1\n', text)

# 2. Split & clean
companies = [line.strip() for line in fixed_text.split('\n') if line.strip()]

companies_df = pd.DataFrame(companies, columns=['company_name'])

In [268]:
companies_df.head()

                               company_name
0  Sydney Night Patrol & Inquiry Co Pty Ltd
1           FLYING BARK PRODUCTIONS PTY LTD
2       EMPLOYERS MUTUAL MANAGEMENT PTY LTD
3    Crawford & Company (AUSTRALIA) Pty Ltd
4                       ISENTIA PTY LIMITED

In [271]:
companies_df.shape

(3608, 1)

In [272]:
companies_df.tail()

                        company_name
3603                Muy bien PTY Ltd
3604  CENTRAL HIGHLANDS RURAL HEALTH
3605  South West Rocks Public School
3606   Lendlease Corporation Limited
3607               IBM AUSTRALIA LTD

## Data Preprocessing

In [273]:
companies_df.tail(20)

                                           company_name
3588                    Rehabilitation Services Pty Ltd
3589                                    ELABOR8 PTY LTD
3590                 ON CALL STAFFING SOLUTIONS PTY LTD
3591                                  CURTIN UNIVERSITY
3592                   Winning Online Group Pty Limited
3593               TORRENS UNIVERSITY AUSTRALIA LIMITED
3594                          MongoDB Australia Pty Ltd
3595                            READY RESOURCES PTY LTD
3596  THE CONGREGATION OF RELIGIOUS SISTERS OF CHARI...
3597                                SUPAGAS PTY LIMITED
3598  Adelaide Community Healthcare Alliance Incorpo...
3599                           WESTGROVE PRIMARY SCHOOL
3600                        Air Trunk Operating Pty Ltd
3601                 BAIRNSDALE REGIONAL HEALTH SERVICE
3602                              Balmain Public School
3603                                   Muy bien PTY Ltd
3604                     CENTRAL HIGHLANDS RURAL HEALTH
3605                     South West Rocks Public School
3606                      Lendlease Corporation Limited
3607                                  IBM AUSTRALIA LTD

In [274]:
companies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3608 entries, 0 to 3607
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_name  3608 non-null   object
dtypes: object(1)
memory usage: 28.3+ KB

In [275]:
def lowercase(text):
    text = text.lower()
    return text

In [297]:
def remove_char(text):
    text = re.sub(r'[^a-z\s&]', '', text)
    remove = ['pty', 'ltd', 'limited']
    for word in remove:
        text = text.replace(word, "")
    return text

In [298]:
companies_df['company_lower'] = companies_df['company_name'].apply(lowercase)

In [299]:
companies_df['company_processed'] = companies_df['company_lower'].apply(remove_char)

In [300]:
companies_df.head(20)

,company_name,company_lower,company_processed
0,Sydney Night Patrol & Inquiry Co Pty Ltd,sydney night patrol & inquiry co pty ltd,sydney night patrol & inquiry co
1,FLYING BARK PRODUCTIONS PTY LTD,flying bark productions pty ltd,flying bark productions
2,EMPLOYERS MUTUAL MANAGEMENT PTY LTD,employers mutual management pty ltd,employers mutual management
3,Crawford & Company (AUSTRALIA) Pty Ltd,crawford & company (australia) pty ltd,crawford & company australia
4,ISENTIA PTY LIMITED,isentia pty limited,isentia
5,BMW Australia Ltd.,bmw australia ltd.,bmw australia
6,AUSTRALIA AND NEW ZEALAND BANKING GROUP LIMITED,australia and new zealand banking group limited,australia and new zealand banking group
7,FANTECH PTY LTD,fantech pty ltd,fantech
8,AP Facilities Pty Ltd,ap facilities pty ltd,ap facilities
9,ZURICH FINANCIAL SERVICES AUSTRALIA LIMITED,zurich financial services australia limited,zurich financial services australia
10,Electro Optic Systems Pty Limited,electro optic systems pty limited,electro optic systems
11,BENDIGO AND ADELAIDE BANK LIMITED,bendigo and adelaide bank limited,bendigo and adelaide bank
12,GN Hearing Australia Pty Ltd,gn hearing australia pty ltd,gn hearing australia
13,WTG PTY LTD,wtg pty ltd,wtg
14,Mecca Brands Pty Ltd,mecca brands pty ltd,mecca brands
15,LITTLE COMPANY OF MARY HEALTH CARE LIMITED,little company of mary health care limited,little company of mary health care
16,AVK AUSTRALIA HOLDING PTY LTD,avk australia holding pty ltd,avk australia holding
17,Capgemini Australia Pty Limited,capgemini australia pty limited,capgemini australia
18,Ventia Australia Pty Ltd,ventia australia pty ltd,ventia australia
19,Ausreo Pty Limited,ausreo pty limited,ausreo

In [301]:
companies_df.to_csv('companies.csv', index=False)